* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html body {
    width: 100vw;
    height: 100vh;
    background-color: purple;
}

main {
    position: relative;
}

section {
    background-color: white;
    width: 300px;
    height: 500px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 25%);
}

div#image {
    background: white url(../metal.jpg) center center/cover no-repeat fixed;
    width: 300px;
    height: 250px;
    border-radius: 15px 15px 0px 0px;
}

div#form {
    width: 300px;
    height: 250px;
    border-radius: 0px 0px 15px 15px;
    text-align: center;
    padding: 5px;
}

div#form > form > legend {
    font-size: .87em;
}