* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html body {
    width: 100vw;
    height: 100vh;
    background-color: purple;
}

main {
    position: relative;
    
}

section {
    background-color: white;
    width: 300px;
    height: 530px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 17%);
}

#image {
    background: white url(../metal.jpg) left center/cover no-repeat fixed;
    width: 300px;
    height: 220px;
    border-radius: 15px 15px 0px 0px;
}

#form {
    width: 300px;
    height: 310px;
    border-radius: 0px 0px 15px 15px;
    text-align: center;
}

div#form > form > h1 {
    padding: 10px 0px 5px;
}

div#form > form > legend {
    font-size: .87em;
    padding: 0px 10px;
}

div#form > form > #buttom {
    padding-top: 10px;
}

form > div#fill, div#buttom {
    width: 260px;
    background-color: purple;
    margin: auto;
    margin-top: 3px;
    padding: 10px;
    border-radius: 12px;
}

div#fill > label {
    margin-left: 1px;
    margin-top: 1px;
}

div#fill > input {
    width: 220px;
    height: 30px;
    border-radius: 12px;
}